<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifraag.arrested"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ifraag.arrested.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ifraag.arrested.SettingsActivity"
            android:label="@string/title_activity_settings">

            <intent-filter>
                <!-- action name can have any value, Note that it is not an android action name. -->
                <action android:name="com.ifraag.arrested.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme ="preferences"/>
            </intent-filter>

        </activity>
    </application>

</manifest>
